<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Tables List</title>
</head>
<body>
    <h2>Available Tables</h2>
    <form action="/process" method="post">
        <label for="table">Select Table:</label>
        <select name="table" required>
            {% for table in tables %}
                <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="option">Select Option:</label>
        <select name="option" required>
            <option value="create_table">Create Table</option>
            <option value="fetch_data">Fetch Data</option>
            <option value="fetch_column_data">Fetch Column Data</option>
            <option value="bar_chart">Bar Chart</option>
            <option value="histogram">Histogram</option>
            <option value="mean">Mean</option>
            <option value="count">Count</option>
            <option value="average">Average</option>
        </select>
        <br>
        <label for="column">Select Column (if applicable):</label>
        <select name="column">
            {% for column in tables %}
                <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
